@tailwind base;
@tailwind components;
@tailwind utilities;

#style-image {
  margin-right: 10px;
}

#title {
  font-family: 'Lobster';
  font-size: 50px;
  color: #639d80;
}

.h-550 {
  height: 550px;
}

/* This contains the carousel and just had all of the images in a flex row where, in the individual card section, the overflow will be hidden and only the width of that card will be shown*/
.carousel-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 900px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  z-index: 9;
}

.carousel-card {
  position: relative;
  opacity: 1;
  height: 550px;
  min-width: 900px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: -webkit-zoom-in;
}

.inactive-card {
  opacity: 0;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 2px;
  z-index: 10;
  transition: 1s ease;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 2px;
  z-index: 10;
  transition: 1s ease;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.mini-thumbnail-flex {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: absolute;
  background-color: lightgrey;
  margin-top: 40px;
  left: 50px;
  width: 70px;
  height: 370px;
  z-index: 10;
  overflow-y: scroll;
}

.mini-thumbnail {
  width: 65px;
  min-height: 100%;
  justify-content: center;
}

.isSelected {
  border-bottom: 5px solid #639d80;
}

.selectedStyle {
  border: 5px solid goldenrod;
}