@tailwind base;
@tailwind components;
@tailwind utilities;

#style-image {
  margin-right: 10px;
}

#title {
  font-family: 'Lobster';
  font-size: 50px;
  color: #639d80;
}

.h-550 {
  height: 550px;
}

/* This contains the carousel and just had all of the images in a flex row where, in the individual card section, the overflow will be hidden and only the width of that card will be shown*/
.carousel-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 900px;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 9;
}

.carousel-card {
  height: 550px;
  min-width: 900px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini-thumbnail-flex {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  margin-top: 40px;
  left: 50px;
  width: 70px;
  height: 400px;
  z-index: 10;
}

.mini-thumbnail {
  height: 70px;
}